/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* General */ 
:root{
    --dark-background: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --button-color: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: #1F2937;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}


/* Header */
header{
    background-color: var(--dark-background);
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-text{
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 32.5px;
}

.header-links{
    display: flex;
    gap: 15px;
}

/* Hero Section */
.hero{
    display: flex;
    background-color: var(--dark-background);
    color: var(--hero-main-text);
    justify-content: center;
    gap: 25px;
    padding: 70px 10px;
}

#hero-img{
    width: 500px;
    height: 200px;
}

.hero-main-text{
    font-size: 48px;
    width: 400px;
    font-weight: 900;
}

.hero-subtext{
    font-size: 18px;
    color: var(--hero-secondary-text);
    width: 390px;
}

.hero-sign-up-btn{
    background-color: var(--button-color);
    color: white;
    height: 25px;
    width: 75px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px auto;
}

.hero-sign-up-btn:hover{
    cursor: pointer;
}

/* Information Section */
.information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
}

.information-section-title{
    font-size: 36px;
    font-weight: 900;
    color: var(--information-header-text);
    margin: 40px 0;
}

.information-boxes-container{
    display: flex;
    gap: 45px;
}

.info-box{
    width: 150px;
    text-align: center;
}

.box{
    width: 150px;
    height: 175px;
    border: solid 3px var(--button-color);
    border-radius: 5px;
    margin-bottom: 10px;
}


/* Quote Section */
.quote-section{
    background-color: var(--quote-section-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px;
}


.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 750px;
}

.quote-text-author{
    font-weight: bold;
    padding-left: 250px;
}

/* Call-to-action section */
.call-to-action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}

.call-to-action-box{
    background-color: var(--button-color);
    color: white;
    width: 60%;
    padding: 20px;
    border-radius: 7.5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call-to-action-text{
    font-weight: bold;
}

.call-to-action-subtext{
    font-size: 0.75rem;
    font-style: italic;
}

.call-to-action-btn{
    background-color: var(--button-color);
    color: white;
    height: 25px;
    width: 75px;
    border: solid 2px white;
    border-radius: 5px;
    font-weight: bold;
}

/* Footer */
footer{
    background-color: var(--dark-background);
    padding: 25px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}