/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-background: #1F2937;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

header{
    background-color: var(--dark-background);
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-text{
    font-size: 1.25rem;
    font-weight: bold;
}

.header-links{
    display: flex;
    gap: 15px;
}